@font-face {
    font-family: 'nobileregular';
    src: url('../fonts/nobile-regular-webfont.woff2') format('woff2'),
         url('../fonts/nobile-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "nobileregular";
}

a {
  text-decoration: none;
}

/*.clear {
  clear: left;
}*/

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.container a {
  color: white;
}

.top-wrapper {
  padding: 260px 0 260px 0;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: 50% 70%;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 5px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

header {
  height: 75px;
  width: 100%;
  background-color: rgba(5, 5, 91, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: -29px;
}

.header-left {
  float: left;

}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 75px;
  padding: 0 25px;
  color: white;
  float: left;
  transition: all 0.5s;
  display: block;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.5	);
  border-radius: 2px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  transition: .5s;
}
.lesson-icon:hover {
  box-shadow: 0px 40px 10px -30px rgba(0,0,0,.1);
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 70px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  margin-top:-15px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}
.bottom h3 {
  font-weight: normal;
  font-size: 20px;
  float: right;
  position: absolute;
  top: 40px;
  right: 100px;

}
.img-p img {
    width: 30px;
    padding-bottom: 10px;
    margin-left:20px;
    text-align: center;

}
.img-p p {
  text-align: center;
  margin-left: 12px;
}

/*clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/*end*/
